<div id="charts">
  <div id="paidChartContainer"></div>
  <div id="grossingChartContainer"></div>
  <div id="freeChartContainer"></div>
</div>

<div id="controls">
  <%= form_tag filter_chart_path, :remote => true do %>
    <% fields_for :filter do |f| %>
      <div>
        <%= f.text_field :game %>
      </div>
    
      <div>
        <% @countries.each do |country| %>
          <p><%= f.check_box "countries[#{country}]" %> <%= country %></p>
        <% end %>
      </div>
    
      <div>
        <%= f.submit "Apply" %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="charts-js">
  <%= render "charts" %>
</div>