<ul class="nav nav-pills chart-config">
  <%= bootstrap_dropdown :kind, filter_charts, :value => chart.kind %>

  <%= bootstrap_dropdown :genre, filter_categories, :value => chart.genre || "all" %>

  <%= bootstrap_dropdown :country, filter_countries, :value => chart.country %>
</ul>

<table class="table table-striped table-bordered table-condensed app-chart">
  <thead>
  </thead>
  <tbody>
    <% (snapshot.try(:game_snapshots) || []).each do |game_snapshot| %>
    <tr>
      <td><%= game_snapshot.rank %></td>
      <td class="app-icon"><%= image_tag game_snapshot.meta_data.itunes_artwork_url, :width => "32", :height => "32" %></td>
      <td>
        <p><%= link_to game_snapshot.meta_data.name, itunes_game_url(game_snapshot.game) %></p>
        <p><small><%= game_snapshot.meta_data.publisher %></small></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
