<div id="ranking-table" class="span12 tab-pane">
  <%= render "table" %>
</div>

<div id="events-table" class="span12 tab-pane">
  <%= render "events" %>
</div>

<div id="app-store-view" class="span12 tab-pane">
  <%= render "app_store_view", :meta_data => @meta %>
</div>

<% @metas.each do |meta| %>
<div id="meta<%= meta.id %>" class="span12 tab-pane">
  <%= render "app_store_view", :meta_data => meta %>
</div>
<% end %>