<ul class="nav nav-pills historical-graph-filter">
  <%= text_field_tag :application_name, @games.first.meta_data.name, :class => "input-medium search-query", "data-name" => "game_id", "data-value" => @games.first.itunes_id %>
  <%= render "/common/chart_filter", :snapshot => @chart_snapshots.first %>

  <li class="date-select rightmost" data-name="date_till" data-value="<%= @timespan.last.to_date %>">
    &mdash;<%= text_field_tag :date_till, @timespan.last.to_date %>
  </li>
  
  <li class="date-select rightmost" data-name="date_since" data-value="<%= @timespan.first.to_date %>">
    <%= text_field_tag :date_since, @timespan.first.to_date %>
  </li>
</ul>