<!DOCTYPE html>
<html>
<head>
  <title>Crawler</title>
  
  <%= javascript_tag do %>
    var AC_FL_RunContent = 0; 
    var DetectFlashVer = 0;
    var requiredMajorVersion = 10;
    var requiredMinorVersion = 0;
    var requiredRevision = 45;
  <% end %>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "AC_RunActiveContent.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
