<!DOCTYPE html>
<html>
<head>
  <title>Crawler</title>
  
  <%= javascript_tag do %>
    window.loading_span = '<span class="loading-stub">Loading...</span>';
    window.no_data_span = '<span class="no-data-stub">No data to display</span>';
    
    window.ajax_loader_gif_url = <%= raw asset_path("ajax-loader.gif").inspect %>;
  <% end %>
  
  <%= render :partial => "common/google_analitycs" %>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Crawler</a>
        
        <ul class="nav">
          <% %w(home charts historicals featurings publishers).each do |cn| %>
            <li class="<%= controller.controller_name == cn ? "active" : "" %>">
              <%= link_to cn.capitalize, send("#{cn}_path") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container content-container">

    <%= yield %>
  
  </div>

</body>
</html>
